.header {
}
.header__container {
}
.header__wrapper {
	height: 80px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 9%;
	align-items: center;
	background: rgb(72,67,162);
	background: linear-gradient(90deg, rgba(72,67,162,1) 0%, rgba(78,78,196,1) 38%, rgba(103,160,209,1) 73%, rgba(0,212,255,1) 100%);
	border-radius: 0 0 10px 10px;
}
.header__title {
	font-size: 25px;
	color: aliceblue;
	z-index: 2;
	text-align: center;
}
.header__sudtitle {
	width: 100%;
	font-size: 60px;
	letter-spacing: 60px;
	color: silver;
	text-shadow: 3px 5px 5px  silver;
	text-align: center;
	position: absolute;
	top: 10px;
	text-align: center;
	opacity: .4;
}
.header__btn-burger {
	display: none;
	justify-content: right;
	position: relative;
	width: 30px;
	height: 20px;
	background: transparent;
	z-index: 2;
	span {
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
	}
	&:before, &:after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	};
	&:before {
		top: 3px;
	};
	&:after {
		bottom: 3px;
	};
}
.header__nav {
	display: block;
	width: 100%;
	position: absolute;
	margin-top: 1px;
	top: 80px;
}
.header__items-first {
	display: flex;
	justify-content: center;
}
.header__item-first {
	width: 100%;
	position: relative;
	border: 1px solid silver;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	transition: .5s;
	cursor: pointer;
	box-shadow: 1px 1px 5px 1px silver;
	&:hover {
		box-shadow: 0 0 10px 0 silver inset, 0 0 10px 4px silver;
	}
	&:hover ul {
		display: block;
	}
}
.header__link-first {
	font-size: 20px;
	color: rgb(90, 65, 65);
}
.header__items-last {
	// z-index: 2;
	width: 100%;
	display: none;
	position: absolute;
	text-align: center;
	margin: 6px 0 0 -5px;
}
.header__item-last {
	background: rgb(255, 255, 255);
	border: 1px solid silver;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	transition: .3s;
	cursor: pointer;
	box-shadow: 1px 1px 5px 1px silver;
	&:hover {
		box-shadow: 0 0 10px 0 silver inset, 0 0 10px 4px silver;
		transform: scale(.9);
	}
}
.header__link-last {
	font-size: 20px;
	color: rgb(90, 65, 65);
}
.header__item-first-main {
}
.header__item-first-work {
}
.header__item-last-annexes {
}
.header__item-last-theory {
}
.header__item-last-paktika {
}
.header__item-html-last {
	&:hover {
		box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
	}
}
.header__item-css-last {
	&:hover {
		box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
	}
}
.header__item-js-last {
	&:hover {
		box-shadow: 0 0 10px 0 yellow inset, 0 0 10px 4px yellow;
	}
}
@media (max-width: 768px) {
	.header {
	position: fixed;
	width: 100%;
	}
	.header__wrapper {
		border-radius: 0;
	}
	.header__nav {
		display: none;
	}
	.header__btn-burger {
		display: block;
	}
}